// ─── Override Vuetify variables ───────────────────────────────────────

// Typography
$body-font-family: 'Manrope', sans-serif;
$heading-font-family: 'Manrope', sans-serif;
$font-size-root: 16px;
$line-height-root: 1.55;

// Global border radius
$border-radius-root: 12px;

// Elevation
// $shadow-key-umbra-opacity: 0 !default;

// Breakpoints
// $grid-breakpoints: (
//   'xs': 0,
//   'sm': 600px,
//   'md': 960px,
//   'lg': 1280px,
//   'xl': 1920px,
// );
